whatsapp:
  session: "your_whatsapp_session"

telegram:
  token: "your_telegram_bot_token"

database:
  sid: "(DESCRIPTION=
    (ADDRESS_LIST=
    	(LOAD_BALANCE=OFF)
        (FAILOVER=ON)
    	(address=(protocol=tcp)(host=172.XXXXXXXXX)(port=1521))
    )
    (CONNECT_DATA=
    	(SERVICE_NAME=XXXXXX)
        (SERVER=DEDICATED)
    )
    (SOURCE_ROUTE=yes)
    )"
  user: "XXXXXX"
  password: "XXXXXX"

redis:
  host: "localhost:6379"